# Указываем при каком минимальной уровне уязвимости команда npm audit завершит с exit 1
# в CI нужно исключить dev Dependencies из проверки npm audit --omit=dev
audit-level=high

# Настройки для общего npm-репозитория или зеркало
registry=https://registry.npmjs.org/

# proxy=http://username:password@proxy.example.com:8080
# https-proxy=http://username:password@proxy.example.com:8080

# Настройки для scoped-репозиториев
# @my-scope:registry=https://registry.my-private-repo.com/
# //registry.my-private-repo.com/:_authToken=${MY_PRIVATE_REPO_TOKEN}
